<hr>
<footer id="footer" class="padding-small">
	<div class="container">
		<div class="row">
			<div class="footer-top-area">
				<div class="row d-flex flex-wrap justify-content-between">
					<div class="col-lg-3 col-sm-6 pb-3">
						<div class="footer-menu">
							<img src="/images/main-logo.png" alt="logo" class="img-fluid mb-2" height="100" width="100">
							<p>Erleben Sie die Welt der Luxusautos bei GTR Luxery. Mit einer exklusiven Auswahl an hochkarätigen Fahrzeugen und einem erstklassigen Kundenservice setzen wir neue Maßstäbe in der Automobilbranche. Besuchen Sie uns und entdecken Sie die Perfektion in Technik und Design.</p>
							<div class="social-links">
								<ul class="d-flex list-unstyled">
									<li>
										<a href="#">
											<svg class="facebook">
												<use xlink:href="#facebook"/>
											</svg>
										</a>
									</li>
									<li>
										<a href="#">
											<svg class="instagram">
												<use xlink:href="#instagram"/>
											</svg>
										</a>
									</li>
									<li>
										<a href="#">
											<svg class="twitter">
												<use xlink:href="#twitter"/>
											</svg>
										</a>
									</li>
									<li>
										<a href="#">
											<svg class="linkedin">
												<use xlink:href="#linkedin"/>
											</svg>
										</a>
									</li>
									<li>
										<a href="#">
											<svg class="youtube">
												<use xlink:href="#youtube"/>
											</svg>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-sm-6 pb-3">
						<div class="footer-menu text-capitalize">
							<h5 class="widget-title pb-2">Links</h5>
							<ul class="menu-list list-unstyled text-capitalize">
								<li class="menu-item mb-1">
									<a href="#">Übersicht</a>
								</li>
								<li class="menu-item mb-1">
									<a href="#">Warenkorb</a>
								</li>
								<li class="menu-item mb-1">
									<a href="#">Bestellungen</a>
								</li>
								<li class="menu-item mb-1">
									<a href="#">Kontakt</a>
								</li>
								<li class="menu-item mb-1">
									<a href="#">Über uns</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 pb-3">
						<div class="footer-menu text-capitalize">
							<h5 class="widget-title pb-2">Hilfe & Info</h5>
							<ul class="menu-list list-unstyled">
								<li class="menu-item mb-1">
									<a href="#">Sendungsverfolgung</a>
								</li>
								<li class="menu-item mb-1">
									<a href="#">Wiederrufsrecht</a>
								</li>
								<li class="menu-item mb-1">
									<a href="#">Allgemeine Geschäftsbedingungen</a>
								</li>
								<li class="menu-item mb-1">
									<a href="#">Datenschutzerklärung</a>
								</li>
								<li class="menu-item mb-1">
									<a href="#">Fragen</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 pb-3">
						<div class="footer-menu contact-item">
							<h5 class="widget-title text-capitalize pb-2">Kontaktiere uns</h5>
							<p>Haben Sie Fragen oder Anregungen? <a href="mailto:"
																														class="text-decoration-underline">contact@gtr-luxery.com</a>
							</p>
							<p>Wenn Sie Unterstützung benötigen? Rufen Sie uns einfach an. <a href="#" class="text-decoration-underline">+49 1234554321</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<hr>
<div id="footer-bottom" class="mb-2">
	<div class="container">
		<div class="d-flex flex-wrap justify-content-between">
			<div class="ship-and-payment d-flex gap-md-5 flex-wrap">
				<div class="shipping d-flex">
					<p>Wir liefern mit:</p>
					<div class="card-wrap ps-2">
						<img src="/images/dhl.png" alt="visa">
						<img src="/images/shippingcard.png" alt="mastercard">
					</div>
				</div>
				<div class="payment-method d-flex">
					<p>Bazahlmöglichkeiten:</p>
					<div class="card-wrap ps-2">
						<img src="/images/visa.jpg" alt="visa">
						<img src="/images/mastercard.jpg" alt="mastercard">
						<img src="/images/paypal.jpg" alt="paypal">
					</div>
				</div>
			</div>
			<div class="copyright">
				<p>© Copyright 2024
				</p>
			</div>
		</div>
	</div>
</div>

<script src="/js/jquery-1.11.0.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/swiper-bundle.min.js"></script>
<script src="/js/script.js"></script>