<!DOCTYPE html>
<html>
<head>
	<title>Über uns</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	{{> partials/htmlHead }}
</head>
<body>
{{> partials/header }}

<section class="hero-section position-relative padding-small"
				 style="background-image: url(/images/banner-image-bg-1.jpg); color: white; background-size: cover; background-repeat: no-repeat; background-position: center;">
	<div class="hero-content">
		<div class="container">
			<div class="row">
				<div class="text-center">
					<h1>Über uns</h1>
					<div class="breadcrumbs">
						<span class="item">
							<a style="color: white;" href="index.html">Übersicht > </a>
						</span>
						<span class="item text-decoration-underline">Über uns</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="company-services" class="padding-medium">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 pb-3 pb-lg-0">
				<div class="icon-box d-flex">
					<div class="icon-box-icon pe-3 pb-3">
						<svg class="cart-outline">
							<use xlink:href="#cart-outline" />
						</svg>
					</div>
					<div class="icon-box-content">
						<h4 class="card-title mb-1 text-capitalize text-dark">kostenlose Lieferung</h4>
						<p>Deutschlandweite Lieferung in kürzester Zeit.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 pb-3 pb-lg-0">
				<div class="icon-box d-flex">
					<div class="icon-box-icon pe-3 pb-3">
						<svg class="quality">
							<use xlink:href="#quality" />
						</svg>
					</div>
					<div class="icon-box-content">
						<h4 class="card-title mb-1 text-capitalize text-dark">Qualität garantiert</h4>
						<p>GTR-Luxery garantiert eine perfekte Qualität.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 pb-3 pb-lg-0">
				<div class="icon-box d-flex">
					<div class="icon-box-icon pe-3 pb-3">
						<svg class="price-tag">
							<use xlink:href="#price-tag" />
						</svg>
					</div>
					<div class="icon-box-content">
						<h4 class="card-title mb-1 text-capitalize text-dark">tägliche Angebote</h4>
						<p>Jeden Tag gibt es neue unschlagbare Angebote für alle Modelle.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 pb-3 pb-lg-0">
				<div class="icon-box d-flex">
					<div class="icon-box-icon pe-3 pb-3">
						<svg class="shield-plus">
							<use xlink:href="#shield-plus" />
						</svg>
					</div>
					<div class="icon-box-content">
						<h4 class="card-title mb-1 text-capitalize text-dark">sichere Bezahlung</h4>
						<p>Ob PayPal, Kreditkarte oder auch per Überweisung - alles ist möglich.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{{> partials/footer }}
</body>
</html>