<!DOCTYPE html>
<html>
<head>
	<title>Zur Kasse</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	{{> partials/htmlHead }}

	<script type="text/javascript">
		function validateForm(form) {
			form.classList.add('was-validated')
			return form.checkValidity()
		}
	</script>
</head>
<body>
{{> partials/header }}

<section class="hero-section position-relative padding-small"
				 style="background-image: url(/images/banner-image-bg-1.jpg); color: white; background-size: cover; background-repeat: no-repeat; background-position: center;">
	<div class="hero-content">
		<div class="container">
			<div class="row">
				<div class="text-center">
					<h1>Bezahlung</h1>
					<div class="breadcrumbs">
						<span class="item">
							<a style="color: white;" href="index.html">Übersicht > </a>
						</span>
						<span class="item text-decoration-underline">Bazahlung</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="checkout-wrap padding-medium">
	<div class="container">
		<form class="form-group needs-validation" method="post" action="/order/place"
					novalidate onsubmit="return validateForm(this)">
			<div class="row d-flex flex-wrap">

				<div class="col-lg-6">
					<h3 class="mb-3">Your order</h3>
					<div class="cart- table">
						<div class="cart-header border-bottom border-top">
							<div class="row d-flex text-capitalize">
								<h4 class="col-5 m-0">Produkt</h4>
								<h4 class="col-3 m-0">Anzahl</h4>
								<h4 class="col-4 m-0">Summe</h4>
							</div>
						</div>

						{{#cartItems}}
							<div class="border-bottom padding-small">
								<div class="row align-items-center">
									<div class="col-5">
										<div class="cart-info d-flex gap-2 flex-wrap align-items-center">
											<div class="col-lg-5">
												<div class="card-image">
													<img src="{{image}}" alt="{{model}}" class="img-fluid border rounded-3">
												</div>
											</div>
											<div class="col-lg-6">
												<div class="card-detail">
													<h5 class="mt-2"><a href="/details/{{id}}">{{model}}</a></h5>
													<div class="card-price">
														<span class="price text-primary fw-light" data-currency-usd="${{price}}">${{price}}</span>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-3">
										<div class="product-quantity">
											<div class="product-qty d-flex justify-content-center">
													<span class="fw-light">
														{{quantity}}
													</span>
											</div>
										</div>
									</div>

									<div class="col-4">
										<div class="total-price">
											<span class="money fw-light text-primary">${{totalPriceFormatted}}</span>
										</div>

									</div>
								</div>
							</div>
						{{/cartItems}}
					</div>

					<div class="cart-totals padding-small mb-3">
						<div class="total-price pb-3">
							<table cellspacing="0" class="table text-capitalize">
								<tbody>
								<tr class="subtotal pt-2 pb-2 border-bottom">
									<th>Subtotal</th>
									<td data-title="Subtotal">
										<span class="price-amount amount text-primary ps-5 fw-light">
											<bdi>
												<span class="price-currency-symbol">$</span>{{subTotal}}
											</bdi>
										</span>
									</td>
								</tr>
								<tr class="subtotal pt-2 pb-2 border-top border-bottom">
									<th>Shipping</th>
									<td data-title="Shipping">
                          <span class="price-amount amount text-primary ps-5 fw-light">
                            <bdi>
                              <span class="price-currency-symbol">$</span>{{shippingCosts}}
                            </bdi>
                          </span>
									</td>
								</tr>
								<tr class="subtotal pt-2 pb-2 border-top border-bottom">
									<th>Taxes</th>
									<td data-title="Shipping">
                          <span class="price-amount amount text-primary ps-5 fw-light">
                            <bdi>
                              <span class="price-currency-symbol">$</span>{{taxes}}
                            </bdi>
                          </span>
									</td>
								</tr>
								<tr class="order-total pt-2 pb-2 border-bottom">
									<th>Grand Total</th>
									<td data-title="Total">
                          <span class="price-amount amount text-primary ps-5 fw-light">
                            <bdi>
                              <span class="price-currency-symbol">$</span>{{grandTotal}}</bdi>
                          </span>
									</td>
								</tr>
								</tbody>
							</table>
						</div>

						<div class="list-group">
							<h3 class="">Bezahlmethode</h3>
							<label class="list-group-item d-flex gap-2 border-0">
								<input class="form-check-input flex-shrink-0" type="radio" name="paymentMethod"
											 id="listGroupRadios1" value="Kreditkarte" required>
								<span>
                      <p class="mb-1">Credit card</p>
                      <small>Kreditkarten-Details folgen später.</small>
                    </span>
							</label>
							<label class="list-group-item d-flex gap-2 border-0">
								<input class="form-check-input flex-shrink-0" type="radio" name="paymentMethod"
											 id="listGroupRadios2" value="BANK_TRANSFER" required>
								<span>
                      <p class="mb-1">Sofortüberweisung</p>
                      <small>Direktüberweisung vom Konto.</small>
                    </span>
							</label>
							<label class="list-group-item d-flex gap-2 border-0">
								<input class="form-check-input flex-shrink-0" type="radio" name="paymentMethod"
											 id="listGroupRadios4" value="PAYPAL" required>
								<span>
									<p class="mb-1">Paypal</p>
									<small>Zahlung über PayPal.</small>
								</span>
							</label>
						</div>
					</div>
				</div>

				<div class="col-lg-6">
					<h3 class="mb-3">Rechungsinformationen</h3>
					<div class="billing-details">
						<div class="mb-3">
							<label for="firstName">Vorname*</label>
							<input type="text" name="firstName" id="firstName" class="form-control mt-2 ps-3" required>
							<span class="invalid-feedback">Bitte den Vornamen eingeben</span>
						</div>

						<div class="mb-3">
							<label for="lastName">Nachname*</label>
							<input type="text" name="lastName" id="lastName" class="form-control mt-2 ps-3" required>
							<span class="invalid-feedback">Bitte den Nachnamen eingeben</span>
						</div>

						<div class="mb-3">
							<label for="company">Unternehmen (optional)</label>
							<input type="text" name="company" id="company" class="form-control mt-2 mb-4">
						</div>

						<div class="mb-3">
							<label for="country">Land / Region*</label>
							<select name="country" id="country" class="form-select form-control mt-2"
											aria-label="Default select example" required>
								<option value="">-- Bitte auswählen --</option>
								<option value="DE">Deutschland</option>
								<option value="FR">Frankreich</option>
								<option value="BL">Belgien</option>
								<option value="CH">Schweiz</option>
							</select>
							<span class="invalid-feedback">Bitte das Land auswählen</span>
						</div>

						<div class="mb-3">
							<label for="street">Straße & Hausnummer*</label>
							<input type="text" name="street" id="street" placeholder="House number and street name"
										 class="form-control mt-3 ps-3" required>
							<span class="invalid-feedback">Bitte Straße und Hausnummer angeben</span>
						</div>

						<div class="mb-3">
							<label for="city">Stadt *</label>
							<input type="text" name="city" id="city" class="form-control mt-3 ps-3" required>
							<span class="invalid-feedback">Bitte Stadt angeben</span>
						</div>

						<div class="mb-3">
							<label for="state">Bundesland (optional)</label>
							<select name="state" id="state" class="form-select form-control mt-2" aria-label="Default select example">
								<option value="">-- Bitte auswählen --</option>
								<option value="0">Hessen</option>
								<option value="1">Bayern</option>
								<option value="2">Niedersachsen</option>
								<option value="3">Nordrhein-Westfalen</option>
								<option value="4">Baden-Württemberg</option>
								<option value="5">Berlin</option>
							</select>
						</div>

						<div class="mb-3">
							<label for="phoneNumber">Telefonnummer (optional)</label>
							<input type="text" name="phoneNumber" id="phoneNumber" class="form-control mt-2 ps-3">
						</div>

						<div class="mb-3">
							<label for="email">Email *</label>
							<input type="text" name="email" id="email" class="form-control mt-2 ps-3" required>
							<span class="invalid-feedback">Bitte Email-Adresse angeben</span>
						</div>
					</div>

					<div>
						<h3 class="mb-3">Zusatzinformation</h3>
						<div class="billing-details">
							<label for="notes">Anmerkungen (optional)</label>
							<textarea name="notes" id="notes" class="form-control pt-3 pb-3 ps-3 mt-2"
												placeholder="Anmerkungen für die Lieferung."></textarea>
						</div>
					</div>
					<div class="button-wrap mt-3">
						<button type="submit" class="btn">Bestellen</button>
					</div>

				</div>

			</div>
		</form>
	</div>
</section>

{{> partials/footer }}
</body>
</html>