<!DOCTYPE html>
<html>
<head>
	<title>Contact</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	{{> partials/htmlHead }}
</head>
<body>
{{> partials/header }}

<section class="hero-section position-relative padding-small"
				 style="background-image: url(/images/banner-image-bg-1.jpg); color: white; background-size: cover; background-repeat: no-repeat; background-position: center;">
	<div class="hero-content">
		<div class="container">
			<div class="row">
				<div class="text-center">
					<h1>Kontakt</h1>
					<div class="breadcrumbs">
						<span class="item">
							<a style="color: white;" href="index.html">Übersicht > </a>
						</span>
						<span class="item text-decoration-underline">Kontakt</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="contact-us padding-medium">
	<div class="container">
		<div class="row">
			<div class="contact-info col-lg-6 pb-3">
				<h3>Kontakt info</h3>
				<div class="page-content d-flex flex-wrap">
					<div class="col-lg-6 col-sm-12">
						<div class="content-box text-dark pe-4 mb-5">
							<h5 class="fw-bold">Büro</h5>
							<div class="contact-address pt-3">
								<p>Elisabethenstraße 7, 36542 Gelnhausen</p>
							</div>
							<div class="contact-number">
								<p>
									<a href="#">+49 1546 82523</a>
								</p>
								<p>
									<a href="#">+49 1574 865452</a>
								</p>
							</div>
							<div class="email-address">
								<p>
									<a href="#">contact@gtr-luxery.com</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-sm-12">
						<div class="content-box">
							<h5 class="fw-bold">Management</h5>
							<div class="contact-address pt-3">
								<p>Elisabethenstraße 7, 36542 Gelnhausen</p>
							</div>
							<div class="contact-number">
								<p>
									<a href="#">+49 1546 82523</a>
								</p>
								<p>
									<a href="#">+49 1574 865452</a>
								</p>
							</div>
							<div class="email-address">
								<p>
									<a href="#">contact@gtr-luxery.com</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="inquiry-item col-lg-6">
				<h3>Fragen?</h3>
				<p class="mb-5">Nutzen sie das Formular, um mit uns in Kontakt zu treten.</p>

				<form id="form" class="d-flex gap-3 flex-wrap">
					<div class="w-100 d-flex gap-3">
						<div class="w-50">
							<input type="text" name="name" placeholder="Name *" class="form-control w-100">
						</div>
						<div class="w-50">
							<input type="text" name="email" placeholder="Email *" class="form-control w-100">
						</div>
					</div>
					<div class="w-100">
						<input type="text" name="phone" placeholder="Telefonnummer" class="form-control w-100">
					</div>
					<div class="w-100">
						<input type="text" name="subject" placeholder="Thema" class="form-control w-100">
					</div>
					<div class="w-100">
						<textarea placeholder="Beschreibung *" class="form-control w-100"></textarea>
					</div>
					<button type="submit" name="submit" class="btn my-3">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>

{{> partials/footer }}
</body>
</html>