<!DOCTYPE html>
<html lang="en">
<head>
	<title>Overview</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	{{> partials/htmlHead }}
	<script>
	function triggerSorting(element) {
		const searchParams = new URLSearchParams(location.search)
		searchParams.set('sort', element.value)
		searchParams.set('page', "1")
		location.search = searchParams.toString()
	}
	</script>
</head>
<body>
{{> partials/header }}

<section class="hero-section position-relative padding-small"
				 style="background-image: url(/images/banner-image-bg-1.jpg); color: white; background-size: cover; background-repeat: no-repeat; background-position: center;">
	<div class="hero-content">
		<div class="container">
			<div class="row">
				<div class="text-center">
					<h1>Shop</h1>
					<div class="breadcrumbs">
						<span class="item">
							<a style="color: white;" href="index.html">Home</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="shopify-grid padding-small">
	<div class="container">
		<div class="row flex-row-reverse g-md-5">
			<main class="col-md-12">
				{{#showMessage}}
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						{{message}}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				{{/showMessage}}

				<div class="filter-shop d-flex flex-wrap justify-content-between mb-5">
					<div class="showing-product">
						<p>{{from}}-{{to}} von {{numOfArticles}} Ergebnissen</p>
					</div>
					<div class="sort-by">
						{{> partials/sorting }}
					</div>
				</div>

				<div class="product-content product-store row row-cols-lg-5 row-cols-md-3 row-cols-sm-2 row-cols-1">
					{{#articles}}
						<div class="col">
							<div class="card position-relative p-4 border rounded-3">
								<img src="{{image}}" class="card-img shadow-sm" alt="product item">
								<h6 class="mt-4 mb-0 fw-bold">
									<a href="details.html?id={{id}}">{{model}}</a>
								</h6>
								<div class="review-content d-flex">
									<p class="my-2 me-2 fs-6 text-black-50">{{brand}}</p>
								</div>
								<span class="price mb-2 text-primary">{{price}}$</span>
								<div class="card-concern position-absolute start-0 end-0 d-flex gap-2">
									<a href="/cart/add/{{id}}" role="button" class="btn btn-dark"
										 data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
										<svg class="cart">
											<use xlink:href="#cart"></use>
										</svg>
									</a>
								</div>
							</div>
						</div>
					{{/articles}}
				</div>

				{{> partials/pagination }}
			</main>
		</div>
	</div>
</div>

{{> partials/footer }}

</body>
</html>