<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bestellliste</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	{{> partials/htmlHead }}
</head>
<body>
{{> partials/header }}

<section class="hero-section position-relative padding-small"
		 style="background-image: url(/images/banner-image-bg-1.jpg); color: white; background-size: cover; background-repeat: no-repeat; background-position: center;">
	<div class="hero-content">
		<div class="container">
			<div class="row">
				<div class="text-center">
					<h1>Bestellliste</h1>
					<div class="breadcrumbs">
						<span class="item">
							<a style="color: white;" href="index.html">Übersicht > </a>
						</span>
						<span class="item text-decoration-underline">Bestellliste</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="cart padding-small">
	<div class="container">
		<div class="row">
			<main class="col-md-9">
				{{#showMessage}}
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					{{message}}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
				{{/showMessage}}

				<div class="cart-table">
					<div class="cart-header border-bottom border-top">
						<div class="row d-flex text-capitalize">
							<h4 class="col-lg-2 py-3 m-0">Bestellnummer</h4>
							<h4 class="col-lg-2 py-3 m-0">Datum</h4>
							<h4 class="col-lg-4 py-3 m-0">Adresse</h4>
							<h4 class="col-lg-2 py-3 m-0">Anzahl</h4>
							<h4 class="col-lg-2 py-3 m-0">Gesamtbetrag</h4>
						</div>
					</div>

					{{#orders}}
					<div class="cart-item border-bottom padding-small">
						<div class="row align-items-center">
							<div class="col-lg-2 col-md-3">
								{{orderNo}}
							</div>
							<div class="col-lg-2 col-md-3">
								{{billing.date}}
							</div>
							<div class="col-lg-4 col-md-3">
								{{billing.address}}
							</div>
							<div class="col-lg-2 col-md-3">
								{{items.size}}
							</div>
							<div class="col-lg-2 col-md-3">
								${{total}}
							</div>
						</div>
					</div>
					{{/orders}}
				</div>

				<div class="cart-totals padding-small pb-0">
					<h3 class="mb-3">Gesamtbetrag</h3>
					<div class="total-price pb-3">
						<table cellspacing="0" class="table text-capitalize">
							<tbody>
							<tr class="order-total pt-2 pb-2 border-bottom">
								<th>Total</th>
								<td data-title="Total">
                      <span class="price-amount amount text-primary ps-5 fw-light">
                        <bdi>
                          <span class="price-currency-symbol">$</span>{{grandTotal}}
												</bdi>
                      </span>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</main>
		</div>
	</div>
</section>

{{> partials/footer }}
</body>
</html>
